body {
    background-color: rgb(255, 255, 255);
}
img {
    width: 100px;
    height: 100px;
}
.main {
    background-color: rgb(245, 205, 255); 
    background-size: 250px;
    text-align: center;
}
h2 {
    font-family: 'Gill Sans';
    background-color: rgb(245, 205, 255);
    text-align: center;
}
#txt {
    font-size: 15Spx;
    font-family: 'Gill Sans MF'
}
button {
    width: 200px;
}